:root {
    --nav-black         : #666;
    --theme-color       : #e54847;
    --score-yellow      : #faaf00;
    --nav-active-black  : #333;
    --tab-active        : #f03d37;
    --tab-inactive      : #696969;

}